<!-- Template for the main app view -->
<section id ="navigation" class="container">
	<nav></nav>
	<h2>Burning Airlines</h2>
	<div id="views">
	</div>
</section>
<footer>
	<section class="container">
		
	</section>
</footer>

<!-- ADMINT NAV TEMPLATE -->
<!-- VISIBLE ONLY ON THE FLIGHTVIEW and FLIGHTPGVIEW views -->
<script id="adminNavTemplate" type="template/text">
		<p id="homeLink">Home</p>
		<p id="flightPgLink">Create Flight</p>
		<p id="planePgLink">Create Plane</p>
</script>

<!-- REG USER NAV TEMPLATE  -->
<!-- VISIBLE ONLY ON THE SEARCHVIEW AND FLIGHTVIEW views  -->
<script id="userNavTemplate" type="template/text">
			<p id="homeLink">Home</p>
</script>
<script id="appTemplate" type="template/text">
	<form id="searchFlight">
		<input id="fromLoc" type="text" placeholder="from" name="from">
		<input id="toLoc" type="text" placeholder="to" name="to">
		<input type="submit" value="search">
	</form>
	<div class="container">
		<table id="flights" style="display: none">
			<tr>
		    <th>Date</th>
		    <th>From</th>		
		    <th>To</th>
		    <th>Plane</th>
	  	</tr>
		</table>
		
	</div>
</script>


<script id="userTemplate" type="template/text">
<div>Your Flights</div>
	<div class="container">
		<table id="flights" style="display: none">
			<tr>
		    <th>Date</th>
		    <th>From</th>		
		    <th>To</th>
		    <th>Plane</th>
	  	</tr>
		</table>
		
	</div>
</script>


<!-- Template for the airplane view -->
<script id="planeViewTemplate" type="template/text">
	<button>Create Plane</button>
</script>

<!-- This will be nexted inside the AppView  -->
<script id="PlanePgTemplate" type="template/text">
	<div id="createPlane">
		<form id="formCreatePlane">
			<input id="planeName" type="text" placeholder="name" name="name">
			<input id="planeSeats" type="number" placeholder="seats" name="seats">
			<input id="planeSubmit" type="submit" value="Create">
		</form>
		<div id="seatsgrid">
		</div>	
	</div>
</script>
<script id="planeseatsTemplate"  type="template/text">
	<h2>{{name}}</h2>
	<div class="grid">

	</div>
</script>


<script id="flightsPgTemplate" type="template/text">
	<form id="searchFlight">
		<input type="text" name="from" placeholder="from" id="fromLoc">
		<input type="text" name="to" placeholder="to" id="toLoc">
		<select id="flightPlane" name="plane_id">
	
		</select>
		<input id="saveSearch" type="submit" value="save" >
	</form>	
	<ul id="flights"></ul>
</script>
<script id="selectPlane" type="template/text">
	<option value="{{id}}">{{name}}</option>
</script>
<script id="flightsListTemplate" type="template/text">
	{{id}} {{from}}
</script>


<script id="flightsTemplate"  type="template/text">
	
		<td>{{date}}</td>
		<td>{{from}}</td>
		<td>{{to}}</td>
		<td>{{plane_id}}</td>
	
</script>
<script id="flightTemplate" type="template/text">
	<h2>{{id}}</h2>
	<div id="flightSeats">
	</div>
	<button id="reserveSeat">Reserve Seat</button>

</script>