*{
  box-sizing: border-box; 
}

body{
  background-color: beige;
  text-align: center;
  padding-top: 50px;
}

.container{
  padding-top: 50px;
  background-color: lightslategray;
}

h2{
  font-size: 6em;
  text-transform: uppercase;
}

nav{
  display: inline-block;
  width: 100%;
  p{
    display: inline-block;
    cursor: pointer;
    width: 20%;
    text-transform: uppercase;
  }
}

input{
  margin-bottom: 50px;
  border: 0;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
}

input:focus{
  outline: 0;
}

li{
  border-top: 10px solid white;
  padding: 20px;
  list-style-type: none;
  text-transform: uppercase;
  background-color: lightblue;
}

ul{
  padding: 0;
}

.loginH2{
  font-size: 1em;
}

body{

}

